ApplicationModules.push (angular) ->
	angular.module('<%= slugifiedModuleName %>').directive '<%= camelizedName %>', [
		() ->
				template: '<div></div>'
				restrict: 'E'
				link: function postLink(scope, element, attrs) {
					// <%= humanizedName %> directive logic
					// ...

					element.text('this is the <%= camelizedName %> directive');
				}
	]