ApplicationModules.push (angular) ->
	angular.module("core").directive "stateChange", [
		() ->
				template: "<div></div>"
				restrict: "E"
				compile: (scope, element, attrs) ->
					element.text("this is the stateChange directive");
	]